<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo isset($categoria_id) ? 'Editar Categoría' : 'Crear Categoría'; ?></title>
    <link rel="stylesheet" href="/MIPROYECTO/assets/css/estilos.css">
</head>
<body>
    <div class="container">
        <?php if (isset($categoria_id) && !empty($categoria_id)) { ?>
            <header>
                <h1>Editar Categoría</h1>
            </header>
            <form action="/MIPROYECTO/backend/categorias.php" method="post">
                <input type="hidden" name="id" value="<?php echo $categoria_id; ?>" />
                <label for="nombre">Nombre de la Categoría:</label>
                <input type="text" id="nombre" name="nombre" value="<?php echo $nombre_categoria; ?>" required>
                <button type="submit">Guardar</button>
            </form>
        <?php } else { ?>
            <h1>Agregar Categoría</h1>
            <form action="/MIPROYECTO/backend/categorias.php" method="post">
                <label for="nombre">Nombre de la Categoría:</label>
                <input type="text" id="nombre" name="nombre" required>
                <button type="submit">Guardar</button>
            </form>
        <?php } ?>
    </div>
</body>
</html>
