<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Alta de Categorías</title>
    <link rel="stylesheet" href="/MIPROYECTO/assets/css/estilos.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Alta de Categorías</h1>
            <div class="logo-container">
                <img class="logo" src="/MIPROYECTO//assets/img/logo.jpg" alt="logo"/>
            </div>
        </header>
        <form action="/MIPROYECTO/backend/categorias.php" method="post">
            <label for="nombre">Nombre de la Categoría:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <div>
                <button type="submit">Guardar</button>
                <button type="button" onclick="window.location.href='lista_categorias.html';">Cancelar</button>
            </div>
        </form>
        <footer>
            <p style="text-align: center;">Gonzalo Monteodorisio</p>
        </footer>
    </div>
    <script src="../../assets/js/validaciones.js"></script>
</body>
</html>
