<!DOCTYPE html>
<html>
<head>
    <title>Lista de productos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MIPROYECTO/assets/css/estilos.css">
</head>
<body>
    <center>
        <h1 class="title">Lista de Productos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($lista_pro as $producto) { ?>
                    <tr>
                        <td><?php echo $producto['id']; ?></td>
                        <td><?php echo $producto['nombre']; ?></td>
                        <td><?php echo $producto['descripcion']; ?></td>
                        <td><?php echo $producto['precio']; ?></td>
                        <td><?php echo $producto['categoria_id']; ?></td>
                        <td>
                            <?php if ($producto['imagen']) { ?>
                                <img src="/MIPROYECTO/assets/uploads/<?php echo $producto['imagen']; ?>" alt="<?php echo $producto['nombre']; ?>" width="100">
                            <?php } else { ?>
                                No image
                            <?php } ?>
                        </td>
                        <td>
                            <a href="/MIPROYECTO/backend/productos.php?edit=<?php echo $producto['id']; ?>">Editar</a>
                            <a href="/MIPROYECTO/backend/productos.php?delete=<?php echo $producto['id']; ?>">Eliminar</a>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
         <a href="/MIPROYECTO/backend/productos.php?add">Agregar</a>
        <p>Gonzalo Monteodorisio</p>
    </center>
</body>
</html>