<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenido a nuestra Tienda Online</h1>
        </header>
        <p>Este es el sitio donde puedes encontrar los mejores productos de tecnología.</p>
        <a href="/MIPROYECTO/backend/categorias.php">Ver Categorías</a> | 
        <a href="/MIPROYECTO/backend/productos.php">Ver Productos</a> |
        <a href="/MIPROYECTO/backend/views/categorias.html">Alta de Categorías</a> | 
        <a href="/MIPROYECTO/backend/views/productos.html">Alta de Productos</a>
    </div>
</body>
</html>